.tippyTop {
  display: flex;
  flex-direction: row;
  background-color: #3B8CED;
  width: 100vw;
  height: 30px;
}

.contactInfoTop {
  display: flex;
  flex-direction: row;
}

.mailingIcon img {
  width: 15px;
  height: 15px;
}

.navContainer {
  display: inline-flex;
  flex-direction: row;
  width: 100vw;
  height: 129px;
  background-color: green;
  text-align: center;
  border-bottom: black;
}

.navLeft {
  height: 80px;
  width: 220px;
  background-color: white;
  margin-left: 50px;
  margin-top: 23px;
}
.emsLogo img {
  height: 75px;
  width: 211px;
}

.searchImg img {
  height: 15px;
  width: 15px;
}

.navOptions {
  text-align: center;
  display: inline-flex;
  float: right;
  justify-content: space-between;
  justify-content: center;
  background-color: blue;
  height: 50px;
  width: 70vw;
  padding-left: 30px;
}

.catOpt {
  width: 75px;
  height: 20px;
  background-color: grey;
}
